@import "../mixins";

$table-color-bg: $color-dark;
$table-color-child: #E9ECEF;
$table-color-list: #DEE2E6;

.data-list {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  @include for-tablet-portrait-up {
    margin: 0 40px;
  }
  padding: 20px;
  box-sizing: border-box;
  min-height: 100%;
  list-style: none;
}
.data-list__parent {
  //border-bottom: 1px solid;
  //border-bottom-color: cadetblue;
}
.data-list-parent__header {
  margin: 0;
  cursor: pointer;
  padding: 8px 0;
}
.data-list-parent__list {
  margin: 0;
}

.hidden {
  display: none;
}